<!DOCTYPE html>
<!--Note: this would have been much easier with D3.JS-->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Dist/CSS/basic.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/JavaScript" src="../Dist/JS//Grid.min.js"></script>
	<script type="text/JavaScript" src="../Dist/JS/LinnearEquation.min.js"></script>
</head>
<body>
	<section class="content">
		<header>
			<h1>Linear Equation Challenge</h1>
		</header>
		<section>
			<article>
			   <!--Write a program that does the following
			* Takes in a simple linear equation
			* Graph the equation
			-->
				<h4>Task Description:</h4>
				<ul>
					<li>Takes in a simple linear equation</li>
					<li>Graph the equation to spit out an array</li>
					
				</ul>
			</article>
			<article>
				<h4>Directions: </h4>
				<ol>
					<li>Enter a valid simple linear equation into the input box below.</li>
					<li>The program will then attempt to draw the equation as an svg.</li>
				</ol>
			</article>
		</section>
		<section>
			<div>
				<h3>Equation Input</h3>
				<label for="Equation">Equation: </label>
				<input type="text" id="equation"/>
			</div>
			<div >
				<h3>Graph (SVG)</h3>
				<svg id="graph"></svg>
			</div>
		</section>
	<section>	
</body>
</html>